* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 15px 30px 15px 15px;    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12; /* Highlight color on hover */
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}


.intro-video {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.intro-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: #fff;
    text-align: center;
    padding: 60px;
}

.intro-overlay h1 {
    font-size: 56px;
    margin: 0;
}

.intro-overlay .key {
    color: #f39c12;
}

.intro-overlay p {
    margin: 0;
}

.intro-overlay #movie-search {
    margin-top: 25px;
    padding: 15px;
    font-size: 16px;
    width: 500px;
    border-radius: 50px;
    border: none;
}

.streaming-services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.streaming-services img {
    width: 120px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); /* Box shadow */
}

.movie-listing {
    padding: 50px 70px;
}

.movie-listing h1 {
    font-size: 48px;
    color: #f39c12;
    margin: 0;
}

.grid-container {
    display: grid;
    padding: 60px 0;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card-1{
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
}

.card-cover{
    grid-column: span 2;
}

.movie-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}

.movie-card .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    transition: background 0.3s ease;
    align-items: flex-start;
}

.movie-card p {
    margin: 5px 0;
}

.movie-card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 1024px) {

    .main-header .logo {
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 30px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro-overlay #movie-search {
        width: 70%;
    }

    .intro-overlay{
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .intro-overlay p {
        font-size: 24px;
    }

    .streaming-services {
        justify-content: center;
        img{
            width: 180px;
        }
    }

    .intro-video {
        height: 50vh;
    }
}